* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #1F2937;
    color: #FFF;
}

li {
    list-style-type: none;
}

a.navbar {
    color: #FFF;
    text-decoration: none;
    padding-left: 30px;

}

a {
    text-decoration: none;
    color: #FFF
}

.first {
    display: flex;
    flex-direction: center;
    padding: 85px 200px;
}

.some-padding {
    padding: 10px 0px;
}

.span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    margin: 10px 0px;
    font-size: 20px;
}

.head1{
    font-weight: 100;
    font-family: "Sofia", sans-serif;   
    font-size: 48px;
    color: #F9FAF8;

}


ul {
    display: flex;
    
    
}

.merge {
    font-size: 50px;
    font-family: "Sofia", sans-serif; 
}

.choose {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    padding: 40px;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding-bottom: 100px;
}

.choose-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;

}

.item {
    max-width: 150px;
    text-align: center;
    align-self: flex-start;
}

.foodimage {
    width: 150px;
    height: 150px;
    border-width: 5px;
    border-color: #3882F6;
    border-radius: 15px;
    border-style: solid;
}

.item {
    font-size: 18px;
    color: #1F2937;
}

.text {
    opacity: 0.75;
}

img {
    max-width: 300px;
    height: auto;
}

.quotediv {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 120px;
    padding-right: 315.15px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}   

.ben {
    font-size: 20px;
    font-weight: 700;
    align-self: flex-end;
    padding-top: 30px;
}

.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    
    
}

.yaba {
    background-color: #3882F6;
    margin: 80px 0;
    padding: 30px 100px;
    width: 700px; 
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

button {
    background-color: transparent;
    border-radius: 5px;
    color: #FFF;
    border-color: #FFF;
    padding: 5px 25px;
    border-style: solid;
    border-width: 2px;
    font-size: 15px;
    font-weight: 650;
    display: inline;
    
}

.button {
}

.end {
    font-size: 15px;
    display: flex;
    justify-content: space-between;
}

.info-header{
    font-size: 25px;
    font-weight: 900;
    width: 400px;
}



.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1f2937;
    color: #FFF;
}




