* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
}

.main {
    background-color: #1F2937;
    color: #FFF;
}

li {
    list-style-type: none;
}



a {
    color: #FFF;
    text-decoration: none;
    padding-left: 30px;
}
.first {
    display: flex;
    flex-direction: center;
    padding: 85px 200px;
}

.some-padding {
    padding: 10px 0px;
}
.span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 200px;
    margin: 10px 0px;
    font-size: 20px;
}

.head1 {
    font-weight: 900;
    font-size: 48px;
    color: #F9FAF8;
}

ul {
    display: flex;
    
    
}

.merge {
    font-size: 50px;
}

.choose {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
    padding: 20px;  
}

.choose-recipes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

.item {
    max-width: 150px;
    text-align: center;
}

.foodimage {
    max-width: 150px;
    max-height: 150px;
}

img {
    max-width: 300px;
    height: auto;
}

.quotediv {
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 150px;

}

.quote {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}   

.ben {
    font-size: 20px;
    font-weight: 700;
    align-self: flex-end;
    padding-top: 30px;
    margin-right: 290px;
}

.call {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFF;
    
    
}

.yaba {
    background-color: #3882F6;
    margin: 50px;
    padding: 30px 200px;
    border-radius: 7px;
    display: flex;
    flex-direction: column;


}

button {
    background-color: transparent;
    border-radius: 5px;
    color: #FFF;
    border-color: #FFF;
    padding: 5px 10px;
    border-style: solid;
    border-width: 2px;
    
}

.end {
    padding: 10px;
    align-self: flex-end;
}

.info-header{
    font-size: 30px;
    font-weight: 900;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #1f2937;
    color: #FFF;
}




